.slider {
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
  overflow: hidden;
}

.arrow {
  width: 50px;
  height: 50px;
  background-color: #fff7f7;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  /* left: ${(props) => props.direction === "left" && "10px"};
    right: ${(props) => props.direction === "right" && "10px"}; */
  margin: auto;
  cursor: pointer;
  opacity: 0.5;
  z-index: 2;
}

.left {
  left: 10px;
}
.right {
  right: 10px;
}

.sliderWrapper {
  height: 100%;
  display: flex;
  transition: all 1.5s ease;
  /* transform: translateX(${(props) => props.slideIndex * -100}vw); */
}

.slide {
  width: 100%;
  /* height: 100vh; */
  display: flex;
  align-items: center;
}

.imgContainer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}


.image {
  object-fit: cover;
  width: 100vw;
  height: 100%;
}

.infoContainer {
  height: 50%;
  width: 50%;
  padding: 20px;
}

.slidertitle {
  font-size: 70px;
}

.desc {
  margin: 50px 0px;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 3px;
}

.button {
  padding: 10px;
  font-size: 20px;
  background-color: transparent;
  cursor: pointer;
}
